* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  background-color: antiquewhite;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkred;
  height: 90vh;
  width: 85vw;
  border-radius: 3rem;
  gap: 1rem;
  color: rgb(240, 238, 195);
  box-shadow: 0 20px 0px rgb(102, 0, 0);
}
h1 {
  font-size: 2.5rem;
  padding: 15px 0 5px 0;
}
.utils {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 3.2rem;
  font-size: 1.1rem;
}

#main-grid {
  width: 900px;
  height: 450px;
  box-shadow: 0 6px 8px inset rgba(55, 55, 55, 0.534);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(128, 1fr);
  border-radius: 1rem;
}
#tools {
  margin-right: 5px;
}

.box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.grid-size-text {
  width: 90px;
}
button {
  border: 1px solid rgba(0, 0, 0, 0.354);
  width: 4rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.354);
  color: white;
  transition: 0.5s background-color ease;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 12rem;
  background-color: rgb(216, 216, 216);
  height: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.196);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 2rem;
  border-radius: 10%;
  background-color: rgb(55, 0, 0);
  cursor: pointer;
}

input[type="color"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-left: -40px;
}
