* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  background-color: antiquewhite;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkred;
  height: 620px;
  width: 1100px;
  border-radius: 40px;
  gap: 16px;
  color: rgb(240, 238, 195);
  box-shadow: 0 20px 0px rgb(102, 0, 0);
}
h1 {
  font-size: 50px;
}
.utils {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 50px;
  font-size: 17px;
}

#main-grid {
  width: 900px;
  height: 450px;
  box-shadow: 0 6px 8px inset rgba(55, 55, 55, 0.534);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(128, 1fr);
  border-radius: 20px;
}
#tools {
  margin-right: 5px;
}

.box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.grid-size-text {
  width: 90px;
}
button {
  border: 1px solid rgba(0, 0, 0, 0.354);
  width: 65px;
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.354);
  color: white;
  transition: 0.5s background-color ease;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 190px;
  background-color: rgb(216, 216, 216);
  height: 9px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.196);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(55, 0, 0);
  cursor: pointer;
}

input[type="color"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-left: -40px;
}

.grid-square {
  border: 1px solid rgba(181, 181, 181, 0.196);
}
